.emoji-box {
  max-width: 500px;
  min-height: 500px;
  overflow: auto;
}
.emoji-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 40px;
}

.page-item {
  font-size: 12px;
}
.page-link {
  width: 30px;
}

.page-link:focus {
  box-shadow: none !important;
  font-weight: bold;
}

.active {
  background-color: #e9ecef;
}
