.search-box {
  max-width: 500px;
}
.form-control:focus {
  box-shadow: none !important;
}

.search-result {
  height: 50px;
  width: 500px;
  margin: 0 auto;
  /* display: grid !important;
  grid-template-columns: repeat(auto-fill, 45px); */
  overflow-y: hidden;
  overflow-x: auto;
  box-shadow: 0 0 5px 0 #dedede;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.search-container {
  margin: 0 auto;
  max-width: 500px;
  z-index: 10;
}

@media screen and (max-width: 500px) {
  .search-box {
    max-width: 320px;
  }

  .search-result {
    width: 320px;
  }
}
